<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Facturar</title>
  <link rel="stylesheet" type="text/css" href="css/global.css">
  <link rel="stylesheet" type="text/css" href="css/invoice_creator.css">
  <link rel="stylesheet" type="text/css" href="css/fragments/header.css">
  <link rel="stylesheet" type="text/css" href="css/fragments/nav.css">
</head>

<body>
  <!--  incluir el fragmento header-->
  <div th:replace="~{fragments/header :: header}"></div>
  <!--  incluir el fragmento nav-->
  <div th:replace="~{fragments/nav :: nav}"></div>

  <div class="invoice-info-container">
    <section class="invoice-info">
      <h2>Facturar</h2>
      <div class="invoice-creator">
        <!-- Formulario para buscar a un cliente por identificacion -->
        <form action="/invoice_creator/selectClient" method="post">
          <div class="form-group" th:if="${currentClientSelected.getIdProveedor() == null}">
            <div class="client-selection">
              <h3>Seleccionar Cliente</h3>
              <label for="client">Identificación del Cliente</label>
              <input type="text" id="client" name="client" required>
              <button type="submit" class="action-btn">Buscar</button>
            </div>
          </div>
        </form>

        <!-- div para mostrar la información del cliente -->
        <div class="client-info" th:if="${currentClientSelected.getIdProveedor() != null}">
          <h3>Cliente</h3>
          <!-- avisar al usuario cual cliente se selecciono -->
          <p th:text="'Cliente Seleccionado: ' + ${currentClientSelected.getNombre()}"></p>

          <form action="/invoice_creator/clearClient" method="post">
            <div class="form-group">
              <div class="client-actions">
                <button type="submit" class="action-btn">Cambiar Cliente</button>
              </div>
            </div>
          </form>
        </div>


        <!-- Formulario para buscar un producto por nombre y agregarlo al carrito -->
        <form action="/invoice_creator/addToCart" method="post">
          <div class="form-group">
            <div class="product-selection">
              <h3>Agregar Producto al Carrito</h3>
              <label for="product">Nombre del Producto</label>
              <input type="text" id="product" name="product" required>
              <label for="quantity">Cantidad</label>
              <input type="number" id="quantity" name="quantity" min="1" required>
              <button type="submit" class="action-btn">Agregar</button>
            </div>
        </form>


        <!-- Sección para mostrar el carrito -->
        <div class="cart" th:if="${cart.size() > 0}">
          <h3>Carrito</h3>
          <table>
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="item : ${cart}">
                <td th:text="${item.getProduct().getNombre()}"></td>
                <td th:text="${item.getQuantity()}"></td>
                <td th:text="'$' + ${item.getProduct().getPrecioUnitario()}"></td>
                <td th:text="'$' + ${item.getProduct().getPrecioUnitario() * item.quantity}"></td>
                <td>
                  <a th:href="@{'/removeFromCart/' + ${item.getProduct().getIdProducto()}}"></a>
                </td>
              </tr>
              <tr>
                <td colspan="3">Total</td>
                <td th:text="'$' + ${total}"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Botón para enviar la información de la factura -->
        <form action="/invoice_creator/createInvoice" method="get"
          th:if="${cart.size() > 0} and ${currentClientSelected.getIdProveedor() != null}">
          <div class="form-group">
            <div class="invoice-actions">
              <button type="submit" class="action-btn">Facturar</button>
            </div>
          </div>
        </form>

      </div>
    </section>
  </div>


  <!-- Popup y mensaje de error -->
  <div class="popup-div" th:if="${errorMessage}">
    <input type="checkbox" id="errorToggle" class="toggle" th:checked="${errorMessage}">
    <div class="overlay">
      <div class="error-popup error">
        <label for="errorToggle" class="error-close-btn">&times;</label>
        <p class="message" id="errorMessage" th:text="${errorMessage}"></p>
      </div>
    </div>
  </div>

</body>

</html>