<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro</title>
  <link rel="stylesheet" type="text/css" href="css/forms.css">
</head>

<body>
  <div class="wrap">
    <div class="left-column">
      <div class="hero">
        <p class="kicker">Acceso Seguro</p>
        <h1>
    
          Inicia Sesión<br>para Gestionar tus Facturas<span class="dot">.</span>
        </h1>
    
        <p>Ingresa a tu cuenta para administrar tus facturas electrónicas de forma rápida y segura.</p>
    
      </div>
    </div>
    

    <div class="right-column">

      <div class="form">

        <h2>Iniciar Sesión</h2>

        <form method="post" action="/login" th:object="${loginRequest}">
          <label for="email">Email</label>
          <input class="rounded" id="email" name="email" placeholder="email@example.com" type="email" value=""
            autocomplete="on">

          <label for="password">Password</label>
          <input class="rounded" id="password" name="password" placeholder="Tu contraseña segura" type="password"
            value="" autocomplete="off">

          <input class="btn btn-primary" name="submit" type="submit" value="Iniciar Sesión">
        </form>

        <a class="btn btn-secondary" href="/register">Registrarse</a>

        <div class="copyright">
          <p>Copyright &copy; 2024. Todos los derechos reservados.</p>
        </div>

      </div>

    </div>
  </div>
</body>

</html>