<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="css/forms.css">
</head>

<body>
  <div class="wrap">
    <div class="left-column">
      <div class="hero">
        <p class="kicker">Bienvenido</p>
        <h1>
          Únete a Nosotros<span class="dot">!</span>
        </h1>
        <p>Regístrate y forma parte de nuestra comunidad de facturación electrónica.</p>
      </div>
    </div>


    <div class="right-column">
      <div class="form">
        <h2>Registro</h2>
        <form method="post" action="/register" th:object="${registerRequest}">
          <label for="name">Name</label>
          <input class="rounded" id="name" name="nombre" placeholder="EPA" type="text" value="" required>

          <label for="address">Address</label>
          <input class="rounded" id="address" name="direccion" placeholder="C. 104, Heredia, Belén, 40703" type="text"
            value="" required>

          <label for="phone">Phone</label>
          <input class="rounded" id="phone" name="telefono" placeholder="800-372-8253" type="tel" value="" required>

          <label for="email">Email</label>
          <input class="rounded" id="email" name="correo" placeholder="email@example.com" type="email" value=""
            required>

          <label for="password">Password</label>
          <input class="rounded" id="password" name="contrasena" placeholder="Your secure password" type="password"
            value="" required>

          <input class="btn btn-primary" name="submit" type="submit" value="Registrarse">
        </form>

        <a class="btn btn-secondary" href="/login">Iniciar Sesión</a>

        <div class="copyright">
          <p>Copyright &copy; 2024. Todos los derechos reservados.</p>
        </div>
      </div>

      <input type="checkbox" id="errorToggle" class="error-toggle" th:checked="${error}">
      <div class="error-overlay">
        <div class="error-popup">
          <label for="errorToggle" class="close-btn">&times;</label>
          <p class="error-message" id="errorMessage" th:text="${error}"></p>
        </div>
      </div>

    </div>
  </div>
</body>

</html>